@font-face {
    font-family: 'nanum-gothic-regular';
    src: url('Fonts/NanumGothic.ttf');
}

@font-face {
    font-family: 'nanum-gothic-bold';
    src: url('Fonts/NanumGothicBold.ttf');
}

@font-face {
    font-family: 'nanum-gothic-ebold';
    src: url('Fonts/NanumGothicExtraBold.ttf');
}

@font-face {
    font-family: 'nanum-gothic-light';
    src: url('Fonts/NanumGothicLight.ttf');
}

body {
    margin: 0;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.blurContainer {
    /* Add a blur over the background image */
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(16px); /* Adjust the blur radius as needed */
    width: 100%;
    height: 100%;
}

.panelContainer {
    /* Add a blank border */
    padding-top: calc(22.22vh / 2);
    padding-bottom: calc(22.22vh / 2);
    padding-left: calc(12.5vw / 2);
    padding-right: calc(12.5vw / 2);

    /* Align stuff */
    display: flex;
    flex-wrap: wrap;
}

/* Set exact size of album art */
.albumArtContainer {
    min-width: 600px;
    min-height: 600px;
    max-width: 600px;
    max-height: 600px;
}

.albumArtContainer img {
    max-width: 100%;
    max-height: 100%;

    /* Add drop shadow */
    box-shadow: 30px 30px 25px 0px rgba(0, 0, 0, 0.55);
}

.textContainer {
    /* Add some room between the text and the album art */
    padding-left: 0px; /*200px*/

    /* Align stuff */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.titleContainer {
    /* Align stuff */
    padding-top: 100px; /*60px*/
    padding-bottom: 15px;
}

.titleContainer span {
    /* Set title font, size, and color */
    font-family: 'nanum-gothic-ebold';
    font-size: 60pt; /*75pt*/
    font-weight: bold;
    color: white;
}

.artistContainer span {
    /* Set artist font, size, and color */
    font-family: 'nanum-gothic-ebold';
    font-size: 50pt;
    color: white;
}

.lyricsContainer {
    /* Make some room for the lyrics from the title */
    padding-top: 80px;
	text-align: center;
}

.lyricsSpan {
    /* Set lyrics font, size, color, and style */
    font-family: 'nanum-gothic-light';
	font-size: 2.5vw; /*50pt*/
	color: white;
	font-style: italic;
}

.lyricsSpacer {
    /* Add space between the lyrics lines */
    padding-bottom: 35px;
}

.controlsContainer {
    /* Add room between the lyrics / album art and the controls / progress bar */
    padding-top: 120px;
	width: 100%;
}

.progressBarContainer {
    /* Add an empty gray progress bar, with rounded corners */
    width: 100%;
	height: 10px;
	background-color: rgba(191, 191, 191, 1);
	position: relative;
	border-radius: 5px;
}

.progressedContainer {
    /* Add the progress to the progress bar */
    position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%; /* Current progress */
	background-color: rgba(255, 0, 0, 1); /* Red looks really cool, was white */
	border-radius: 5px;
}

/* Add controls, and order them across the screen */
.buttonsContainer {
    display: flex;
	padding-top: 75px;
	width: 100%;
	justify-content: space-between;
}

.buttonsContainer #playlistButton {
    order: 1;
}

.buttonsContainer #volumeButton {
    order: 3;
}

.middleButtonsContainer {
    display: flex;
	gap: 100px;
	order: 2;
}

.footer {
    /* Add a footer in the bottom right of the screen */
	position: absolute;
	bottom: 0;
	right: 0;
	font-family: 'nanum-gothic-light';
	font-size: 25px;
	color: white;
}
